# 파이썬 기초 실습
## 자료형
어떤 프로그래밍 언어든 시작은 "자료형"입니다.

# 자료값 출력하기

In [ ]:
# 출력하기
print("안녕하세요.") # 문자
print(3) # 숫자
print(0.5) # 소수
print(True) # Boolean (참, 거짓)
print("=" * 20)

# 변수 출력
a = 392
print(a)
a = 212
print(a)

# 숫자 & 문자열 자료형

In [ ]:
# 숫자형 자료형
a = 7
b = 4
print(a + b) # 더하기
print(a - b) # 빼기
print(a * b) # 곱하기
print(a / b) # 나누기
print(a // b) # 나누기 (몫)
print(a % b) # 나누기 (나머지)

In [ ]:
# 문자열 자료형
a = "Heung Min Son"
b = " Tottenham Hotspur FC"
print(len(a)) # 문자의 길이
print(a + b) # 문자 이어 붙이기
print(a * 2) # 문자 반복하기

In [ ]:
# 문자열 인덱싱
a = "Tottenham 3:2 Eintracht" # 0부터 숫자를 셉니다
print(a[3]) # 3번째 character (글자) 출력
print(a[0:9]) # 0~9번째 글자들 출력
print()
print(a.index(":")) # :의 위치 출력
idx = a.index(":")
print(a[idx])

In [ ]:
# 문자열 조작
a = "Football is really fun!"
b = a.replace(" ", "@") # 공백 " "을 "@"로 변경
print(b)

In [ ]:
# 불가능한 조작
a[7] = "@" # 직접 문자열을 바꾸는 것은 허용되지 않는다.

# 퀴즈 1

### Q1.
다음은 어떤 선수의 경기별 출전 시간입니다. 이 사람의 평균 점수를 구하는 코드를 작성하고, 평균 점수를 출력하는 코드를 작성해보세요.

경기 A: 86분
경기 B: 99분
경기 C: 97분

In [ ]:
## 아래에 코드를 작성해보세요!
a = 86
b = 99
c = 97

### Q2.
자연수 13이 홀수인지 짝수인지 어떻게 판별할 수 있을까요? (힌트: 짝수는 2로 나누었을 때 나머지가 0이고, 홀수는 2로 나누었을 때 나머지가 1입니다.)

In [ ]:
## 13을 2로 나누었을 때의 나머지를 구하고, 이를 출력하는 코드를 작성해보세요!

### Q3.
홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동 씨의 주민번호를 연월일 (YYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해봅시다!

In [ ]:
## 아래에 코드를 작성해보세요!
pin = "881120-1068234"

### Q4.
주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타냅니다. 주민등록번호에서 성별을 나타내는 숫자를 출력해봅시다.

In [ ]:
## 아래에 코드를 작성해보세요!
pin = "881120-1068234"

### Q5.
다음과 같은 문자열 a@b@c@d가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해봅시다

In [ ]:
## 아래에 코드를 작성해보세요!
a = "a@b@c@d"

### Q6.
다음은 어떤 경기의 기록이다. 여기서 "점수" 부분만을 뽑아서 출력해봅시다.

In [ ]:
## 아래에 코드를 작성해보세요!
a = "Arsenal 3:1 Tottenham"

# 리스트 자료형

In [ ]:
# 리스트 자료형
## 여러 자료를 모아서 표현할 수 있다.
a = [1, 2, 3, 4, 5] # 리스트 생성
print(a[0]) # 리스트 인덱싱: 0번째 값
print(a[3]) # 리스트 인덱싱: 3번째 값
print(a[1:3]) # 리스트 슬라이싱: 1~2번째 값을 가진 리스트
print(len(a)) # 리스트의 길이

## 리스트 조작

In [ ]:
# 리스트 조작
a = [1, 2, 3]
print(a)
a.append(4) # 리스트 끝에 값 넣기
print(a)

In [ ]:
# 리스트 값 수정
a[2] = 10 # 2번째 값을 10으로 수정 -- 문자열과 달리 직접 수정이 허용
print(a)

In [ ]:
# 리스트 값 삭제
del a[1] # 1번째 값을 삭제
print(a)

In [ ]:
# 리스트 정렬
a.sort()
print(a)
# 거꾸로 정렬
a.sort(reverse=True)
print(a)

In [ ]:
# 리스트의 값 전부 합치기
a = [1, 2, 3, 4]
b = sum(a)
print(b)

### 응용: 리스트와 문자열의 조합

In [ ]:
# 문자열 쪼개기
a = "Do you know Song Heung-min?"
b = a.split()
print(b)

In [ ]:
# 리스트에 있는 문자들 합치기
print(' '.join(b)) # 공백을 사이에 두고 합치기
print('#'.join(b)) # 샾을 사이에 두고 합치기

# 딕셔너리 (사전) 자료형

In [ ]:
# 딕셔너리 생성
dic = {"name": "Son Heung-min", "club": "Bayer Leverkusen", "birthday": "0708"}
print(dic)

In [ ]:
# 딕셔너리 쌍 (Pair) 추가
dic["gender"] = "male"
print(dic)

In [ ]:
# 딕셔너리 값 변경
dic["club"] = "Tottenham Hotspur"
print(dic)

In [ ]:
# Key를 통해 Value 얻기
print(dic["name"])
print(dic["club"])

In [ ]:
# Key를 통해 Value를 얻고, 해당 Key를 삭제하기
dic = {"name": "Son Heung-min", "club": "Bayer Leverkusen", "birthday": "0708", "gender": "male"}
print(dic)
value = dic.pop("gender")
print(value)
print(dic)

# 집합 (Set) 자료형


집합 자료형의 특징
* 중복을 허용하지 않는다.
* 순서가 없다.

In [ ]:
# 집합 자료형 생성
s1 = set([1, 2, 3])
print(s1)

In [ ]:
print(s1[0]) # 순서가 없으므로 인덱싱을 지원하지 않는다.

In [ ]:
# 값 추가하기
s1 = set([1, 2, 3])
print(s1)
s1.add(4)
print(s1)
s1.add(1)
print(s1) # 1이 이미 존재하고 중복을 허용하지 않으므로, 같은 결과가 나온다.

# 값 제거하기
s1.remove(3)
print(s1)

# 퀴즈 2

### Q1.
[1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 만들고 출력해보세요.

In [ ]:
## 아래에 코드를 작성해보세요!
a = [1, 3, 5, 4, 2]

### Q2.
다음과 같은 딕셔너리 a가 있습니다. 이 때, 다음 중 오류가 발생하는 경우를 골라보세요.

`a = dict()`
1. `a['name'] = 'python'`
2. `a[('a',)] = 'python'`
3. `a[[1]] = 'python'`
4. `a[250] = 'python'`

In [ ]:
## 아래에서 각 경우를 테스트해보세요!

### Q3.
딕셔너리 a에서 Key 'B'에 해당되는 value를 추출하여 출력해봅시다.

In [ ]:
## 아래에 코드를 작성해보세요!
a = {"A": 90, "B": 80, "C": 70}

### Q4. 
a 리스트에서 중복 숫자를 제거해 봅시다. (힌트: `list(set([1,3,2,1,3]))` 를 하면 결과물은 어떻게 될까요?)

In [ ]:
## 아래에 코드를 작성해보세요!
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]

### Q5. 
a 리스트 안에 있는 값의 평균을 구하는 코드를 작성하고, 평균 값을 출력해보세요!

In [ ]:
## 아래에 코드를 작성해보세요!
a = [23912, 329, 1290, 129, 1029, 200, 192, 1, -21309, 2019, 1029]

# 제어문
프로그램의 구조를 쌓기 위한 필수 요소, "제어문"을 알아봅시다.

# if 문 (조건문)

조건에 맞춰 프로그램을 실행시키고 싶을 때가 있습니다. 예를 들어,
"골을 넣으면 승리하고, 못 넣으면 패배한다." 를 어떻게 코드로 표현할 수 있을까요?

In [ ]:
goal = True # True / False
if goal: # 끝에 "반드시" 콜론 (:)을 넣어야 합니다.
    print("승리했습니다!!") # Tab을 눌러서 "반드시" 띄어쓰기를 해주어야 합니다.
else:
    print("패배했습니다..")

In [ ]:
goal = False # True / False
if goal:
    print("승리했습니다!!")
else:
    print("패배했습니다..")

더 구체적으로, 값의 "비교"를 하고 싶다면 어떻게 해야 할까요?

비교 연산자를 사용해야 합니다.

In [ ]:
# 비교 연산자 예시
a = 3
b = 2
print(a < b) # a가 b보다 작다
print(a > b) # a가 b보다 크다
print(a == b) # a와 b가 같다
print(a != b) # a와 b가 같지 않다
print(a >= b) # a가 b보다 크거나 같다
print(a <= b) # a가 b보다 작거나 같다

만약 어떤 선수가 한 경기에서 넣은 골의 갯수를 바탕으로 해트트릭 여부를 출력하는 프로그램을 만들고 싶다고 가정합니다.

어떻게 만들어야 할까요?

In [ ]:
num_goals = 4
if num_goals >= 3:
    print("해트트릭!!")
else:
    print("다음 기회에...")

다음과 같은 프로그램을 만들고 싶다면 어떻게 해야 할까요?

"돈이 3000원 이상 있거나 카드가 있다면 택시를 타고 그렇지 않으면 걸어 가라."

or 연산자를 활용해야 합니다.

In [ ]:
money = 2000
card = True
if money >= 3000 or card:
    print("택시를 타고 가라")
else:
    print("걸어가라")

유사하게, 다음과 같은 프로그램을 만들고 싶다고 가정합니다.

"돈이 3000원 이상 있고 카드도 있다면 택시를 타고 그렇지 않으면 걸어 가라."

and 연산자를 활용해야 합니다.

In [ ]:
money = 2000
card = True
if money >= 3000 and card:
    print("택시를 타고 가라")
else:
    print("걸어가라")

그 외에도, 다양한 조건을 판단하기 위한 elif 문이 있습니다.

"주머니에 돈이 있으면 택시를 타고, 주머니에 돈은 없지만 카드가 있으면 택시를 타고, 돈도 없고 카드도 없으면 걸어 가라."

In [ ]:
pocket = ["paper", "handphone"]
print("money" in pocket)
print("paper" in pocket)

In [ ]:
pocket = ["paper", "handphone"]
card = True
if "money" in pocket: # 리스트에 해당 값이 있는지 여부 체크
    print("택시를 타고 가라")
else:
    if card:
        print("택시를 타고 가라")
    else:
        print("걸어 가라")

In [ ]:
pocket = ["paper", "handphone"]
card = True
if "money" in pocket:
    print("택시를 타고 가라")
elif card:
    print("택시를 타고 가라")
else:
    print("걸어 가라")

# While문 (반복문)

반복해서 문장을 수행해야 할 경우 while문을 사용합니다.
while문은 **조건문이 참인 동안**에 while 문 아래의 문장이 반복해서 수행됩니다.

예시로,
"열 번 찍어 안 넘어가는 나무 없다." 라는 속담을 파이썬 프로그램으로 만든다면 다음과 같이 될 것입니다.

In [ ]:
print("나무를 1번 찍었습니다.")
print("나무를 2번 찍었습니다.")
print("나무를 3번 찍었습니다.")
print("나무를 4번 찍었습니다.")
print("나무를 5번 찍었습니다.")
print("나무를 6번 찍었습니다.")
print("나무를 7번 찍었습니다.")
print("나무를 8번 찍었습니다.")
print("나무를 9번 찍었습니다.")
print("나무를 10번 찍었습니다.")
print("나무 넘어갑니다.")

In [ ]:
tree_hit = 0
while tree_hit < 10:
    tree_hit = tree_hit + 1
    print(f"나무를 {tree_hit}번 찍었습니다.")
    if tree_hit == 10:
        print("나무 넘어갑니다.")

In [ ]:
## 문자열 포매팅: 변수를 문자열에 넣어서 출력하기
name = "강민기"
print(f"제 이름은 {name}입니다.")
name = "손흥민"
print(f"제 이름은 {name}입니다.")

### while문 강제로 빠져나가기
while문은 조건문이 참이 동안에 계속해서 while문 안의 내용을 반복해서 수행합니다.

커피 자판기의 예시를 들어봅시다. 커피가 있다면 돈을 넣었을 때 커피가 나오고, 없으면 판매를 중단하고 "판매 중지" 문구를 보여주어야 합니다.

In [ ]:
coffee = 10
money = 300
while money > 0:
    print("돈을 받았으니 커피를 줍니다.")
    coffee = coffee - 1
    print(f"남은 커피의 양은 {coffee}개입니다.")
    if coffee == 0:
        print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
        break # while문 강제 탈출

실제로 사용자에게 돈의 양을 입력받고, 이에 따라서 작동하게 하려면 어떻게 해야 할까요?

## Quick Quiz!
이전에 배웠던 조건문을 활용하여 빈칸을 채워보세요

In [ ]:
coffee = 10
while True:
    money = int(input("돈을 넣어 주세요: "))
    if 빈칸1: # 돈이 300원과 같을 때 
        print("커피를 줍니다.")
        coffee = coffee -1
    elif money > 300:
        print(f"거스름돈 {빈칸2}원을 주고 커피를 줍니다.") # 받은 돈에서 300원을 뺀 돈
        coffee = coffee -1
    else:
        print("돈을 다시 돌려주고 커피를 주지 않습니다.")
        print(f"남은 커피의 양은 {coffee}개 입니다.")
    if 빈칸3: # 커피 갯수가 0이 되었을 때
        print("커피가 다 떨어졌습니다. 판매를 중지 합니다.")
        break

# For 문

파이썬의 직관적인 특징을 가장 잘 대변해 주는 것이 바로 이 for문이다. while문과 비슷한 반복문인 for문은 매우 유용하고 문장 구조가 한눈에 쏙 들어온다는 장점이 있다. for문을 잘 사용하면 프로그래밍이 즐거워질 것이다.

가장 전형적인 for문의 예제를 확인해봅시다.

In [ ]:
test_list = ["one", "two", "three"]
for i in test_list:
    print(i)

In [ ]:
# 응용
a = [[1, 2], [3, 4], [5 ,6]]
for (first, last) in a:
    print(first + last)

실제로 어떤 경우에 for문을 사용할까요? 쓰임새를 알기 위해 다음을 가정해봅시다.

"총 5명의 선수가 패널티킥 연습을 하는데, 5골 이상을 넣으면 합격이고 그렇지 않으면 불합격이다. 합격인지 불합격인지 결과를 보여주시오."

In [ ]:
goals = [10, 2, 4, 6, 1]

number = 0
for goal in goals:
    number += 1 # number = number + 1과 동일
    if goal >= 5:
        print(f"{number}번 학생은 합격입니다.")
    else:
        print(f"{number}번 학생은 불합격입니다.")

for문은 숫자 리스트를 자동으로 만들어 주는 range 함수와 함께 사용하는 경우가 많습니다. 다음은 range 함수의 간단한 사용법입니다.

In [ ]:
a = range(10)
print(a)

In [ ]:
for i in range(1, 10):
    print(i)

In [ ]:
# 1부터 10까지의 합을 구해서 출력
sum = 0
for i in range(1, 11):
    sum += i
print(sum)

## Quick Quiz!
for문과 range 함수를 활용해서 1부터 1000까지의 합을 구해보세요!

In [ ]:
sum = 0
# 코드를 입력해주세요!

활용하면 다음과 같이 구구단도 만들 수 있습니다.

In [ ]:
for i in range(2, 10):
    for j in range(1, 10):
        print(i * j, end=" ")
    print('')

### 심화 응용: 리스트 내포 (List Comprehension)

응용하면 for문을 리스트 안에 포함시키는 리스트 내포를 사용할 수 있습니다.
이를 사용하면 더 간결하고 직관적인 프로그램을 만들 수 있습니다.

In [ ]:
a = [1, 2, 3, 4]
result = []
for num in a:
    result.append(num * 3)
print(result)

In [ ]:
result = [num * 3 for num in a]
print(result)

한 발 더 나아가서, if문까지 포함하여 만들 수 있습니다.

만약 1,2,3,4 중 짝수에만 3을 곱하여 담고 있는 리스트를 만들고 싶다면 다음과 같이 할 수 있습니다.

In [ ]:
result = [num * 3 for num in a if num % 2 == 0]
print(result)

## Quick Quiz!
그렇다면 홀수에만 3을 곱하여 담고 있는 리스트는 어떻게 만들까요? 코드를 작성하고 출력해봅시다.

In [ ]:
# 코드를 입력해주세요!

# 퀴즈 3

## Q1
다음 코드의 결괏값은 무엇일까요? 코드를 돌리기전에 생각해보고, 돌려서 생각했던 것과 같은지 확인해봅시다.

In [ ]:
a = "Life is too short, you need python"

if "wise" in a: 
    print("wise")
elif "python" in a and "you" not in a: 
    print("python")
elif "shirt" not in a: 
    print("shirt")
elif "need" in a: 
    print("need")
else: print("none")

## Q2
while문을 사용해 1부터 1000까지의 자연수 중 3의 배수의 합을 구해 봅시다.

In [ ]:
# 코드를 작성해보세요!

## Q3
while문을 사용하여 다음과 같이 별(*)을 표시하는 프로그램을 작성해봅시다.
```
*
**
***
****
*****
```

In [ ]:
# 코드를 작성해보세요!

## Q4
for문을 사용하여 1부터 100까지의 숫자를 출력해봅시다.

In [ ]:
# 코드를 작성해보세요!

## Q5
다음은 어떤 선수의 출전 시간 기록이다. 

for문을 사용하여 이 선수의 평균 출전 시간을 구해봅시다.

In [ ]:
# 코드를 작성해보세요!
a = [86, 99, 97, 96, 98, 98, 97, 97, 97, 97, 27, 99]

## Q6
리스트 중에서 홀수에만 2를 곱하여 저장하는 다음 코드가 있다.

In [ ]:
numbers = [1, 2, 3, 4, 5]
result = []
for n in numbers:
    if n % 2 == 1:
        result.append(n*2)

이 코드를 리스트 내포 (list comprehension)을 사용해서 간결하게 표현해봅시다!

In [ ]:
# 코드를 작성해보세요!

# 함수

반복되는 부분을 하나로 묶어서 "어떤 입력값을 주었을 때 어떤 결괏값을 돌려준다"라는 식의 함수로 작성합니다.

계산기를 예시로 들어봅시다.

In [ ]:
a = 3
b = 5
print(a + b)

a = 7
b = 2
print(a + b)

a = 6
b = 4
print(a + b)

# 불필요하게 반복되는 부분이 아주 많다!

함수를 사용하면 다음과 같이 간략하게 표현이 됩니다.
"이 함수의 이름은 add이고 입력으로 두 개의 값 a, b를 받으며 2개의 입력값을 더한 값을 출력한다"

In [ ]:
def sum(a, b):
    print(a + b)
sum(3, 5)
sum(7, 2)
sum(6, 4)

또는, 함수가 결괏값을 "반환 (return)" 하도록 만들 수도 있습니다.

In [ ]:
# 결괏값이 없는 함수
def sum(a, b):
    print(a + b)
c = sum(3, 6)
print(c)

In [ ]:
# 결괏값이 있는 함수
def sum(a, b):
    return a + b
c = sum(3, 6)
print(c)

입력값이 필요없는 함수도 존재합니다.

In [ ]:
def say():
    print("Hi")
say()

# 과제
지금까지 배운 것을 종합하여 축구 데이터 분석의 기초에 활용해봅시다!

다음은 신광훈 선수의 10경기 기록을 딕셔너리의 리스트 형태로 저장해놓은 것입니다.

경기 기록들을 통해서 의미 있는 정보를 추출해봅시다!

In [ ]:
plays = [
    {'Match': 'Seongnam - Pohang Steelers 1:1', 'Date': '2022-09-18', 'Position': 'LDMF, RB', 'Crosses': 3, 'Crosses accurate': 1, 'Dribbles': 1, 'Dribbles successful': 0, 'Offensive duels': 6, 'Offensive duels won': 1, 'Fouls suffered': 1},
    {'Match': 'Suwon Bluewings - Pohang Steelers 0:2', 'Date': '2022-09-14', 'Position': 'RB', 'Crosses': 1, 'Crosses accurate': 1, 'Dribbles': 0, 'Dribbles successful': 0, 'Offensive duels': 1, 'Offensive duels won': 1, 'Fouls suffered': 1},
    {'Match': 'Ulsan Hyundai - Pohang Steelers 1:2', 'Date': '2022-09-11', 'Position': 'RB', 'Crosses': 2, 'Crosses accurate': 1, 'Dribbles': 2, 'Dribbles successful': 1, 'Offensive duels': 6, 'Offensive duels won': 2, 'Fouls suffered': 1},
    {'Match': 'Pohang Steelers - Daegu 4:1', 'Date': '2022-09-18', 'Position': 'LDMF, RB', 'Crosses': 3, 'Crosses accurate': 1, 'Dribbles': 1, 'Dribbles successful': 0, 'Offensive duels': 6, 'Offensive duels won': 1, 'Fouls suffered': 0},
    {'Match': 'Jeonbuk Motors - Pohang Steelers 2:2', 'Date': '2022-08-29', 'Position': 'RB', 'Crosses': 4, 'Crosses accurate': 0, 'Dribbles': 0, 'Dribbles successful': 0, 'Offensive duels': 3, 'Offensive duels won': 1, 'Fouls suffered': 0},
    {'Match': 'Pohang Steelers - Incheon United 1:1', 'Date': '2022-08-20', 'Position': 'RB', 'Crosses': 8, 'Crosses accurate': 2, 'Dribbles': 2, 'Dribbles successful': 1, 'Offensive duels': 4, 'Offensive duels won': 2, 'Fouls suffered': 1},
    {'Match': 'Jeju United - Pohang Steelers 5:0', 'Date': '2022-08-14', 'Position': 'RB', 'Crosses': 2, 'Crosses accurate': 0, 'Dribbles': 2, 'Dribbles successful': 1, 'Offensive duels': 3, 'Offensive duels won': 1, 'Fouls suffered': 0},
    {'Match': 'Pohang Steelers - Gangwon 2:1', 'Date': '2022-08-06', 'Position': 'RB', 'Crosses': 4, 'Crosses accurate': 0, 'Dribbles': 2, 'Dribbles successful': 2, 'Offensive duels': 10, 'Offensive duels won': 6, 'Fouls suffered': 2},
    {'Match': 'Gimcheon Sangmu - Pohang Steelers 0:1', 'Date': '2022-08-02', 'Position': 'RB', 'Crosses': 2, 'Crosses accurate': 1, 'Dribbles': 2, 'Dribbles successful': 1, 'Offensive duels': 5, 'Offensive duels won': 1, 'Fouls suffered': 1},
    {'Match': 'Pohang Steelers - Seoul 1:2', 'Date': '2022-07-30', 'Position': 'RB, RCMF', 'Crosses': 2, 'Crosses accurate': 1, 'Dribbles': 2, 'Dribbles successful': 1, 'Offensive duels': 4, 'Offensive duels won': 3, 'Fouls suffered': 1},
]

### 과제 1

평균 파울 ("Fouls suffered") 횟수를 구하는 코드를 작성해보세요.

### 과제 2

첫 번째 경기 (Seongnam - Pohang Steelers 1:1)에서 크로스 성공률, 드리블 성공률, Offensive duel 성공률을 계산해보세요.

Hint)
* 크로스 성공률: 'Crosses accurate' / 'Crosses' * 100
* 드리블 성공률: 'Dribbles' / 'Dribbles successful' * 100
* Offensive Duel 성공률: 'Offensive duels' / 'Offensive duels won' * 100

### 과제 3
과제 2에서 한 것을 활용하여, 크로스 성공률, 드리블 성공률, Offensive Duel 성공률의 10경기에서의 평균값을 구해보세요.

### 과제 4
모든 데이터에서 신광훈 선수의 소속팀은 "Pohang Steelers"입니다. 'Match'에 있는 스코어 정보를 활용하여 10경기에서의 Pohang Steelers의 승률을 구하는 코드를 작성해보세요.