# 파이썬 심화 실습
* 퀴즈 3 풀이 (if, while, for문 복습)
* 과제 1 풀이 + 기존 강의 복습
* 함수
* 라이브러리
* Pandas 라이브러리 개요

# 퀴즈 3

퀴즈3을 같이 풀어봅시다!

## Q1
다음 코드의 결괏값은 무엇일까요? 코드를 돌리기전에 생각해보고, 돌려서 생각했던 것과 같은지 확인해봅시다.

In [ ]:
a = "Life is too short, you need python"

if "wise" in a: 
    print("wise")
elif "python" in a and "you" not in a: 
    print("python")
elif "shirt" not in a: 
    print("shirt")
elif "need" in a: 
    print("need")
else: print("none")

## Q2
while문을 사용해 1부터 1000까지의 자연수 중 3의 배수의 합을 구해 봅시다.

In [ ]:
# 코드를 작성해보세요!

## Q3
while문을 사용하여 다음과 같이 별(*)을 표시하는 프로그램을 작성해봅시다.
```
*
**
***
****
*****
```

In [ ]:
# 코드를 작성해보세요!

## Q4
for문을 사용하여 1부터 100까지의 숫자를 출력해봅시다.

In [ ]:
# 코드를 작성해보세요!

## Q5
다음은 어떤 선수의 출전 시간 기록이다. 

for문을 사용하여 이 선수의 평균 출전 시간을 구해봅시다.

In [ ]:
# 코드를 작성해보세요!
a = [86, 99, 97, 96, 98, 98, 97, 97, 97, 97, 27, 99]

## Q6
리스트 중에서 홀수에만 2를 곱하여 저장하는 다음 코드가 있다.

In [ ]:
numbers = [1, 2, 3, 4, 5]
result = []
for n in numbers:
    if n % 2 == 1:
        result.append(n*2)

이 코드를 리스트 내포 (list comprehension)을 사용해서 간결하게 표현해봅시다!

In [ ]:
# 코드를 작성해보세요!

# 함수

반복되는 부분을 하나로 묶어서 "어떤 입력값을 주었을 때 어떤 결괏값을 돌려준다"라는 식의 함수로 작성합니다.

계산기를 예시로 들어봅시다.

In [ ]:
a = 3
b = 5
print(a + b)

a = 7
b = 2
print(a + b)

a = 6
b = 4
print(a + b)

# 불필요하게 반복되는 부분이 아주 많다!

함수를 사용하면 다음과 같이 간략하게 표현이 됩니다.
"이 함수의 이름은 add이고 입력으로 두 개의 값 a, b를 받으며 2개의 입력값을 더한 값을 출력한다"

In [ ]:
def add(a, b): # a, b는 매개변수 (parameter)
    print(a + b)
add(3, 5) # 3, 5는 인수 (argument)
add(7, 2)
add(6, 4)

또는, 함수가 결괏값을 "반환 (return)" 하도록 만들 수도 있습니다.

In [ ]:
# 결괏값이 없는 함수
def add(a, b):
    print(a + b)
c = add(3, 6)
print(c)

In [ ]:
# 결괏값이 있는 함수
def add(a, b):
    return a + b
c = add(3, 6)
print(c)

입력값이 필요없는 함수도 존재합니다.

In [ ]:
def say():
    print("Hi")
say()

매개변수를 "지정"하여 사용할 수도 있습니다.

In [ ]:
add(a=3, b=5)

# 퀴즈 4

함수에 관한 퀴즈만 풀어봅시다.

### Q1
주어진 자연수가 홀수인지 짝수인지 판별해 주는 함수(is_odd)를 작성해 보자.

In [ ]:
# 아래에 코드를 작성해보세요!
def is_odd(number):
    # 함수를 작성해보세요

# 과제
지금까지 배운 것을 종합하여 축구 데이터 분석의 기초에 활용해봅시다!

다음은 신광훈 선수의 10경기 기록을 딕셔너리의 리스트 형태로 저장해놓은 것입니다.

경기 기록들을 통해서 의미 있는 정보를 추출해봅시다!

In [ ]:
plays = [
    {'Match': 'Seongnam - Pohang Steelers 1:1', 'Date': '2022-09-18', 'Position': 'LDMF, RB', 'Crosses': 3, 'Crosses accurate': 1, 'Dribbles': 1, 'Dribbles successful': 0, 'Offensive duels': 6, 'Offensive duels won': 1, 'Fouls suffered': 1},
    {'Match': 'Suwon Bluewings - Pohang Steelers 0:2', 'Date': '2022-09-14', 'Position': 'RB', 'Crosses': 1, 'Crosses accurate': 1, 'Dribbles': 0, 'Dribbles successful': 0, 'Offensive duels': 1, 'Offensive duels won': 1, 'Fouls suffered': 1},
    {'Match': 'Ulsan Hyundai - Pohang Steelers 1:2', 'Date': '2022-09-11', 'Position': 'RB', 'Crosses': 2, 'Crosses accurate': 1, 'Dribbles': 2, 'Dribbles successful': 1, 'Offensive duels': 6, 'Offensive duels won': 2, 'Fouls suffered': 1},
    {'Match': 'Pohang Steelers - Daegu 4:1', 'Date': '2022-09-18', 'Position': 'LDMF, RB', 'Crosses': 3, 'Crosses accurate': 1, 'Dribbles': 1, 'Dribbles successful': 0, 'Offensive duels': 6, 'Offensive duels won': 1, 'Fouls suffered': 0},
    {'Match': 'Jeonbuk Motors - Pohang Steelers 2:2', 'Date': '2022-08-29', 'Position': 'RB', 'Crosses': 4, 'Crosses accurate': 0, 'Dribbles': 0, 'Dribbles successful': 0, 'Offensive duels': 3, 'Offensive duels won': 1, 'Fouls suffered': 0},
    {'Match': 'Pohang Steelers - Incheon United 1:1', 'Date': '2022-08-20', 'Position': 'RB', 'Crosses': 8, 'Crosses accurate': 2, 'Dribbles': 2, 'Dribbles successful': 1, 'Offensive duels': 4, 'Offensive duels won': 2, 'Fouls suffered': 1},
    {'Match': 'Jeju United - Pohang Steelers 5:0', 'Date': '2022-08-14', 'Position': 'RB', 'Crosses': 2, 'Crosses accurate': 0, 'Dribbles': 2, 'Dribbles successful': 1, 'Offensive duels': 3, 'Offensive duels won': 1, 'Fouls suffered': 0},
    {'Match': 'Pohang Steelers - Gangwon 2:1', 'Date': '2022-08-06', 'Position': 'RB', 'Crosses': 4, 'Crosses accurate': 0, 'Dribbles': 2, 'Dribbles successful': 2, 'Offensive duels': 10, 'Offensive duels won': 6, 'Fouls suffered': 2},
    {'Match': 'Gimcheon Sangmu - Pohang Steelers 0:1', 'Date': '2022-08-02', 'Position': 'RB', 'Crosses': 2, 'Crosses accurate': 1, 'Dribbles': 2, 'Dribbles successful': 1, 'Offensive duels': 5, 'Offensive duels won': 1, 'Fouls suffered': 1},
    {'Match': 'Pohang Steelers - Seoul 1:2', 'Date': '2022-07-30', 'Position': 'RB, RCMF', 'Crosses': 2, 'Crosses accurate': 1, 'Dribbles': 2, 'Dribbles successful': 1, 'Offensive duels': 4, 'Offensive duels won': 3, 'Fouls suffered': 1},
]

In [ ]:
for play in plays:
    print(play)

### 과제 1

평균 파울 ("Fouls suffered") 횟수를 구하는 코드를 작성해보세요.

### 과제 2

첫 번째 경기 (Seongnam - Pohang Steelers 1:1)에서 크로스 성공률, 드리블 성공률, Offensive duel 성공률을 계산해보세요.

Hint)
* 크로스 성공률: 'Crosses accurate' / 'Crosses' * 100
* 드리블 성공률: 'Dribbles successful' / Dribbles' * 100
* Offensive Duel 성공률: 'Offensive duels won' / 'Offensive duels' * 100

### 과제 3
과제 2에서 한 것을 활용하여, 크로스 성공률, 드리블 성공률, Offensive Duel 성공률의 10경기에서의 평균값을 구해보세요.

### 과제 4
모든 데이터에서 신광훈 선수의 소속팀은 "Pohang Steelers"입니다. 'Match'에 있는 스코어 정보를 활용하여 10경기에서의 Pohang Steelers의 승률을 구하는 코드를 작성해보세요.

## 풀이
답은 하나가 아닙니다! 여러분의 방식대로도 한 번 풀어보세요

## 과제 1 풀이

In [ ]:
sum = 0
for play in plays:
    sum += play["Fouls suffered"]
print(sum)

## 과제 2 풀이

In [ ]:
play = plays[0]
print("크로스 성공률")
if play["Crosses"] == 0:
    value = 0
else:
    value = play["Crosses accurate"] / play["Crosses"]
print(value * 100)

print("드리블 성공률")
if play["Dribbles"] == 0:
    value = 0
else:
    value = play["Dribbles successful"] / play["Dribbles"]
print(value * 100)

print("Offensive Duel 성공률")
if play["Offensive duels"] == 0:
    value = 0
else:
    value = play["Offensive duels won"] / play["Offensive duels"]
print(value * 100)

## 과제 3 풀이

In [ ]:
cross_value = 0
dribble_value = 0
offensive_value = 0
for play in plays:
    if play["Crosses"] == 0:
        cross_value += 0
    else:
        cross_value += play["Crosses accurate"] / play["Crosses"] * 100

    if play["Dribbles"] == 0:
        dribble_value += 0
    else:
        dribble_value += play["Dribbles successful"] / play["Dribbles"] * 100

    if play["Offensive duels"] == 0:
        offensive_value += 0
    else:
        offensive_value += play["Offensive duels won"] / play["Offensive duels"] * 100

print("크로스 평균 성공률")
print(cross_value / len(plays))

print("드리블 평균 성공률")
print(dribble_value / len(plays))

print("Offensive Duels 평균 성공률")
print(offensive_value / len(plays))

## 과제 4 풀이

In [ ]:
pohang_win = 0
for play in plays:
    match = play['Match']
    words = match.split('-') # '-'를 기준으로 문자열 자르기
    first_team_name = words[0]
    print(words)
    spacesplit_words = words[1].split()
    score = spacesplit_words[-1]
    first_team_score = int(score.split(':')[0])
    second_team_score = int(score.split(':')[1])
    
    if first_team_score > second_team_score:
        first_team_win = True
    else:
        first_team_win = False

    if "Pohang Steelers" in first_team_name and first_team_win:
        pohang_win += 1
    elif "Pohang Steelers" not in first_team_name and not first_team_win:
        pohang_win += 1

print(f"포항 우승 확률 {pohang_win / len(plays) * 100}")

# 라이브러리

라이브러리란? 
요리를 할 때, 칼을 직접 만들고, 도마를 직접 나무를 잘라서 제작하고 하지 않듯이, 우리가 필요한 도구를 다른 사람들이 미리 만들어 둔 것이 있다.

이런 것을 "라이브러리"라고 한다. 엑셀 파일을 읽고, 시각화 하는데 필요한 대부분의 일은 이 라이브러리를 통해서 할 수 있다!

예시로, 수학을 다루는데 있어서 사칙연산 이상의 여러 고위 연산들은 "`math`" 라이브러리에 있습니다. 

라이브러리는 "`import`"를 통해 가져올 수 있습니다.

In [ ]:
import math

가져온 라이브러리 안의 함수는 "라이브러리.함수이름"으로 사용할 수 있습니다.

In [ ]:
print(math.pi) # 파이
print(math.e) # 자연상수
print(math.sqrt(2)) # 루트
print(math.log(10)) # 로그

어떤 함수들이 있는지는 어떻게 아나요?

구글에 python math library를 검색하면 관련 함수들을 소개하는 홈페이지를 찾을 수 있습니다!

https://docs.python.org/3/library/math.html

# Pandas 기초

## Pandas란?

파이썬을 통한 데이터 분석을 위하여 꼭 필요한 "라이브러리" 중 하나입니다. dataframe이라는 것을 통하여 데이터를 다루는데 엑셀 형식의 데이터를 다루는 것에 특화되어 있습니다.

이번에는 샘플 데이터를 통해 이 Pandas의 기능과 다루는 방법에 대하여 간단하게 알아보도록 하겠습니다.

In [ ]:
import pandas as pd # pandas 라이브러리를 pd라는 이름으로 가져온다

In [ ]:
df = pd.read_excel('player_stats.xlsx', engine='openpyxl') # Excel 파일을 read_excel 함수를 사용하여 읽어온다

In [ ]:
print(df)

### Pandas Dataframe 살펴보기
1. Dataframe의 열(Column)의 종류 보기
2. 원하는 행(Row)의 데이터 보기
3. 데이터 다루기

In [ ]:
# 엑셀의 최상단에 존재하는 행을 가져옵니다.
print(df.columns) # List의 형태로 볼 수 있습니다. 단, 진짜 리스트는 아님.

In [ ]:
# For문을 통하여 내용 보기
for column in df.columns:
    print(column)

두 Column이 하나의 이름을 공유하고 있으면, 두 번째 column의 이름이 "`Unnamed: 숫자`"로 자동으로 변경됩니다.

이 상태에서는 보기가 어려우니, 보기 쉬운 이름으로 바꿔봅시다!

rename 함수를 사용하면 쉽게 바꿀 수 있다.

In [ ]:
# {"바꾸고 싶은 이름": "바꿀 이름"} 형태의 딕셔너리로 입력을 넣는다.
df = df.rename(columns={"Shots / on target": "Shots", # 예시) Shots / on target 이름의 column을 Shots로 바꾼다.
                        "Unnamed: 8": "Shots on target",
                        "Crosses / accurate": "Crosses",
                        "Unnamed: 12": "Crosses accurate",
                        "Dribbles / successful": "Dribbles",
                        "Unnamed: 14": "Dribbles successful",
                        "Offensive duels / won": "Offensive duels",
                        "Unnamed: 16": "Offensive duels won"})

In [ ]:
print(df.columns)

어떤 특정 열의 데이터만 보고 싶으면 어떻게 해야 할까요?

딕셔너리와 같다고 보면 됩니다.

In [ ]:
df["Match"] # 번호, 값의 형태로 출력됨

원하는 행 (row)의 데이터를 보고 싶다면 어떻게 해야 할까요?

리스트 같이 사용하면 에러가 납니다.

In [ ]:
print(df[0])

원하는 위치의 데이터를 가지고 오기 위해서는 `iloc` 이라는 것을 사용해야 합니다.

In [ ]:
print(df.iloc[0])

모든 row의 데이터를 순차적으로 가져오고 싶다면 어떻게 해야 할까요? 먼저 dataframe의 크기를 알아봅시다.

In [ ]:
print(df.shape)
print(f"행의 갯수: {df.shape[0]}") # 행의 갯수
print(f"열의 갯수: {df.shape[1]}") # 열의 갯수

행의 갯수에 기반해서 for 문을 활용해봅시다!

In [ ]:
for i in range(df.shape[0]):
    print(df.iloc[i])

In [ ]:
# 이런 식으로, 각 열의 특정 값만을 쭉 뽑아낼 수 있습니다. (예시: Minutes played)
sum = 0
for i in range(df.shape[0]):
    print(df.iloc[i]["Minutes played"])
    sum += df.iloc[i]["Minutes played"]
print(f"전체 플레이 시간 합: {sum}분")

### 경기 날짜를 통해 경기 분류하기

Date 값을 보면 각 경기가 치뤄진 날짜를 알 수 있습니다.

In [ ]:
print(df["Date"])

이 정보를 통해 2022년에 치뤄진 경기는 어떤 것이고, 2016년에 치뤄진 경기는 어떤 것인지 분류해봅시다.

In [ ]:
date_list = df["Date"].tolist() # tolist 함수를 통해 리스트 형태로 변환합니다.
print(date_list)

"몇 번째" 경기가 "언제" 치뤄졌는지를 알기 위해서 `enumerate` 함수를 사용할 것입니다.

In [ ]:
for i, date in enumerate(date_list):
    print(i, date) # i에 "몇 번째"에 해당하는 정보가, date에 "언제" 치뤄졌는가의 정보가 저장됩니다.

가장 먼저, 전체 데이터가 몇년도의 정보들을 담고 있는 것인지를 분석해봅시다.

In [ ]:
years = []
for date in date_list:
    split_data = date.split('-') # 연, 월, 일로 분리됨
    print(split_data[0])
    print(split_data[1])
    print(split_data[2])
    print("-" * 30)

In [ ]:
years = []
for date in date_list:
    split_data = date.split('-') # 연, 월, 일로 분리됨
    years.append(split_data[0])
print(years)

In [ ]:
# 1강에서 배웠던 "years를 통한 중복 제거"를 사용해봅시다!
years = list(set(years))
print(years)

In [ ]:
# 이제 우리가 원하는 정보를 담을 딕셔너리를 생성하고, 각 key에 연도, value에 빈 리스트를 담습니다.
year_dict = dict()
for year in years:
    year_dict[year] = []
print(year_dict)

In [ ]:
for i, date in enumerate(date_list):
    year = date.split('-')[0]
    year_dict[year].append(i)
print(year_dict)

In [ ]:
# 맞게 저장이 된건지 직접 확인해봅시다
print(df.iloc[34])

# 퀴즈 4

과제 1을 참고하여, 데이터프레임을 응용해봅시다!

### Q1

전체 평균 파울 ("Fouls suffered") 횟수를 구하는 코드를 작성해보세요.

### Q2

크로스 성공률 ("Crosses" / "Crosses accurate")의 모든 경기 평균을 구하는 코드를 작성해보세요.

### Q3

(심화과정) 신광훈 선수의 소속팀은 경기마다 다릅니다. 따라서, 전체 경기 중에 'Match'정보에 "Pohang Steelers"가 포함된 데이터만을 활용하여, 'Match'에 있는 스코어 정보를 통해 Pohang Steelers의 승률을 구하는 코드를 작성해보세요. (무승부 제외, 승리 수의 합 / 전체 해당 경기 수)

## 연도별 평균 수치 구하기

위에서 만든 `year_dict`를 활용하여, 각 연도별로 평균 수치들을 구해봅시다.

이번 강의에서 다룰 수치들은 다음과 같습니다:

* 경기 시간 ("Minutes played")
* 어시스트 ("Assists")
* Shot 어시스트 ("Shot assists")
* 크로스 정확도 ("Crosses" / "Crosses accurate")
* 드리블 성공률 ("Dribbles" / "Dribbles successful")
* Offensive Duels 승률 ("Offensive duels" / "Offensive duels won")

특정 년도에 해당하는 데이터들을 먼저 모아봅시다.

In [ ]:
year = "2016"

idxes = year_dict[year]
year_dataset = []
for idx in idxes:
    year_dataset.append(df.loc[idx])

우리가 원하는 정보를 데이터에서 수집하고, 평균을 구해봅시다.

In [ ]:
key = "Minutes played"

sum = 0
for data in year_dataset:
    sum += data[key]
avg = sum / len(idxes)
print(avg)

모든 연도의 값을 일일히 구하는 것은 번거롭습니다. 이럴 때 "함수"를 사용해봅시다.

In [ ]:
def get_average_status_for_year(year, key1, key2): # 연도, 분모, 분자 (없으면 None)
    year = str(year) # 숫자로 넣어도 가능하도록 구현 
    idxes = year_dict[year]
    year_dataset = []
    for idx in idxes:
        year_dataset.append(df.loc[idx])

    sum = 0
    for data in year_dataset:
        if key2 is not None:
            sum += data[key1] / data[key2]
        else:
            sum += data[key1]
    avg = sum / len(idxes)
    return avg

In [ ]:
# 사용해봅시다
print(get_average_status_for_year(2016, "Minutes played", None))

In [ ]:
print(get_average_status_for_year(2016, "Offensive duels won", "Offensive duels"))

In [ ]:
print(get_average_status_for_year(2016, "Dribbles successful", "Dribbles"))

왜 에러가 날까요...? 중간에 "Dribbles"이 0인 경우가 있기 때문입니다! 0으로 나누는 것은 허용되지가 않습니다.

In [ ]:
print(200 / 0)

이걸 반영해서 코드를 조금 수정해볼까요?

In [ ]:
def get_average_status_for_year(year, key1, key2): # 연도, 분모, 분자 (없으면 None)
    year = str(year) # 숫자로 넣어도 가능하도록 구현 
    idxes = year_dict[year]
    year_dataset = []
    for idx in idxes:
        year_dataset.append(df.loc[idx])

    sum = 0
    for data in year_dataset:
        if key2 is not None:
            if data[key2] != 0: # 0이 아닌 경우에만 나눗셈을 하도록 변경
                sum += data[key1] / data[key2]
            else:
                sum += 0
        else:
            sum += data[key1]
    avg = sum / len(idxes)
    return avg

In [ ]:
print(get_average_status_for_year(2016, "Dribbles successful", "Dribbles"))

완벽하게 작동합니다! 다른 경우에 대해서도 테스트 해보세요.

# 다음 시간
다음 시간에는, 오늘 배운 Pandas와 만든 함수들을 활용하여 직접 시각화를 해보는 방법을 배우도록 하겠습니다.